html {
  background: #001A33;
  font-family: Helvetica, sans-serif;
  min-height: 100vh;
  scroll-behavior: smooth;
}
html ul,
html li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
html hr {
  border-width: 0px;
  margin: 0em;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  align-content: space-between;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

.block--fullscreen {
  align-content: space-between;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: auto;
}

header {
  flex: 0 1 auto;
  padding: 1.5rem;
  gap: 1rem;
}
@media (min-width: 960px) {
  header {
    display: flex;
    flex-direction: row;
  }
}
@media (max-width: 960px) {
  header {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
  }
}
header a {
  color: #F0F7FF;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}
@media (max-width: 960px) {
  header a {
    font-size: 0.9rem;
    font-weight: 600;
  }
}
header a:visited {
  text-decoration: none;
}
header a.link--uppercase {
  text-transform: uppercase;
}
header .block--left {
  flex: 1 0 0;
}
header .block--right {
  align-items: flex-start;
  display: flex;
  flex: 1 0 0;
  justify-content: space-between;
  gap: 1rem;
}
@media (max-width: 960px) {
  header .block--right {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }
}
header .block--right .menu,
header .block--right .info {
  display: flex;
  gap: 1.5rem;
}
@media (max-width: 960px) {
  header .block--right .menu,
  header .block--right .info {
    gap: 0.3rem;
  }
}
header .block--right .menu {
  justify-content: flex-start;
}
header .block--right .info {
  justify-content: flex-end;
}
header a:hover {
  color: #FFB2C7;
  transition: 0.1s all ease-in;
}

main {
  animation-duration: 2s;
  animation-name: slidein;
  /* Blending two images for some reason disables background-position. 
  It works, but in a different way - background now stays in place and shifts 
  instead of physically moving to create empty space*/
  background-image: url("images/greece.png");
  background-position: 5rem;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: inherit;
  justify-content: center;
  margin-left: 3rem;
  transition-timing-function: ease;
}
@keyframes slidein {
  from {
    margin-top: 60%;
  }
  to {
    margin-top: 0%;
  }
}
@media (max-width: 960px) {
  main {
    background-position: 0rem;
    border-radius: 1rem;
    margin-left: 0rem;
    align-items: center;
  }
}
main button {
  align-items: center;
  background-color: #FFB2C7;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  display: flex;
  font-size: 1.25rem;
  gap: 1.5rem;
  justify-content: center;
  padding: 1rem 1.5rem;
  text-decoration: none;
  transition: 0.1s all ease-in;
  width: max-content;
}
main button:hover {
  gap: 2rem;
  background-color: #d7879d;
}
main button img {
  height: 1.25rem;
}
main h1.title {
  animation-duration: 7s;
  animation-name: slidein-left;
  color: black;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: -0.12rem;
  line-height: 6rem;
  margin: min(4rem, 5vh) 0;
}
@media (max-width: 960px) {
  main h1.title {
    animation-duration: 0s;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: -0.12rem;
    line-height: 2rem;
    margin: 1rem 0;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
@keyframes slidein-left {
  from {
    margin-left: 30%;
  }
  to {
    margin-left: 0%;
  }
}
main h1.title .top,
main h1.title .bottom {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  margin-bottom: 0.5rem;
}
@media (max-width: 960px) {
  main h1.title .top,
  main h1.title .bottom {
    gap: 0.3rem;
  }
}
main h1.title .top .title--cubic,
main h1.title .top .title--round,
main h1.title .bottom .title--cubic,
main h1.title .bottom .title--round {
  background-color: white;
}
main h1.title .top .title--cubic,
main h1.title .bottom .title--cubic {
  padding: 0 1rem;
}
main h1.title .top .title--round,
main h1.title .bottom .title--round {
  border-radius: 3.75rem;
  padding: 0 2.5rem;
}
main h2.block--description {
  margin: 1rem 0rem;
}
@media (max-width: 960px) {
  main h2.block--description {
    align-items: center;
    display: inline;
    line-height: 1rem;
    border-radius: 1rem;
    margin: min(6rem, 5vh) 0rem;
  }
}
main h2.block--description .description {
  display: block;
  background-color: #001A33;
  color: #F0F7FF;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 0;
  padding-right: 0.3rem;
  width: max-content;
}
@media (max-width: 960px) {
  main h2.block--description .description {
    display: inline;
    width: 100%;
    padding: 0.1rem 0.1rem;
    background-color: #001A33;
  }
}

footer {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-around;
  margin: 3rem;
}
@media (max-width: 960px) {
  footer {
    margin: 2rem;
  }
}
footer .footer--top {
  color: #F0F7FF;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  height: 12rem;
  letter-spacing: -0.08rem;
  line-height: 4rem;
  margin-right: 50vw;
}
@media (max-width: 960px) {
  footer .footer--top {
    margin: 2rem 0;
    font-size: 3rem;
    line-height: 3rem;
  }
}
footer .footer--bottom {
  align-self: stretch;
  display: flex;
  gap: 0.75rem;
  height: 7rem;
}
@media (max-width: 960px) {
  footer .footer--bottom {
    flex-direction: column;
  }
}
footer .footer--bottom button {
  align-items: flex-end;
  background-color: #FFB2C7;
  border: none;
  cursor: pointer;
  display: flex;
  flex: 1 1 0;
  gap: 3rem;
  justify-content: space-between;
  padding: 0;
  text-decoration: none;
  transition: 0.1s all ease-in;
}
@media (max-width: 960px) {
  footer .footer--bottom button {
    gap: 0rem;
  }
}
footer .footer--bottom button:hover {
  border-radius: 1rem;
  background-color: #d7879d;
}
footer .footer--bottom button:hover > .flex-end {
  background-color: #000f1d;
}
footer .footer--bottom button:hover > .flex-end svg {
  transform: rotate(90deg);
}
footer .footer--bottom button div {
  color: black;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  padding: 0.75rem 5rem 0.75rem 0.75rem;
}
@media (max-width: 960px) {
  footer .footer--bottom button div {
    height: 6rem;
  }
}
footer .footer--bottom button .flex-end {
  background-color: #001A33;
  border-radius: 0.75rem 0rem 0rem 0rem;
  display: flex;
  flex: 1 0 0;
  height: 1.5rem;
  justify-content: flex-end;
  padding: 0.75rem;
  transition: 0.1s all ease-in;
}
@media (max-width: 960px) {
  footer .footer--bottom button .flex-end {
    flex: 0;
  }
}
footer .footer--bottom button .flex-end svg {
  transition: 0.1s all ease-in;
}

/*# sourceMappingURL=styles.css.map */
