$text-color-on-dark-bg: #F0F7FF;
$button-color: #FFB2C7;
$background-color: #001A33;;


html {
    scroll-behavior: smooth;
    font-family: Helvetica, sans-serif;
    min-height: 100vh;
    background: $background-color;
    ul,
    li {
      margin-left: 0;
      padding-left: 0;
      list-style-type: none;
    }
    hr {
      margin: 0em;
      border-width: 0px;
    }
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    color: $text-color-on-dark-bg;
    text-decoration: none;

    &:visited {
        text-decoration: none;
    }
    &.link--uppercase {
        text-transform: uppercase;
    }
}

body {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: 100%;
}

.block--fullscreen {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: 100vh;
}

header {
    display: flex;
    padding: 1.5rem; 
    flex: 0 1 auto;

    .block--left {
        flex: 1 0 0;
    }

    .block--right {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex: 1 0 0;

        .menu {
            display: flex;
            justify-content: flex-start;
            gap: 1.5rem;
        }

        .info {
            display: flex;
            justify-content: flex-end;
            gap: 1.5rem;
        }
    }

    a:hover {
        color: $button-color;
        transition: 0.1s all ease-in;
    }
}

main {
    background-image: url('images/greece.jpg');
    background-blend-mode: screen, normal; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 5rem;

    margin-left: 3rem;
    height: inherit;

    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    button {
        display: flex;
        gap: 1.5rem;
        width: max-content;
        padding: 1rem 1.5rem;
        align-items: center;
        justify-content: center;

        font-size: 1.25rem;
        border: none;
        border-radius: 1rem;
        background-color: $button-color;
        text-decoration: none;

        img {
            height: 1.25rem;
        }
    }

    h1.title {
        margin: 4rem 0;
        color: black;

        font-size: 6rem;
        font-weight: 400;
        letter-spacing: -0.12rem; 
        line-height: 6rem;;

        .top,
        .bottom {
            display: flex;
            flex-direction: row;
            gap: 1.25rem;
            margin-bottom: 0.5rem;
            

            .title--cubic {
                padding: 0 1rem;

                background-color: white;
            }

            .title--round {
                padding: 0 2.5rem;

                background-color: white;

                border-radius: 3.75rem;
            }
        }
    }
    .block--description {
        margin: 1rem 0rem;

        h2.description {
            margin: 0;
            padding-right: 0.3rem;
    
            color: $text-color-on-dark-bg;
            background-color: $background-color;
    
            font-size: 1rem;
            font-weight: 400;
            width: max-content;
            line-height: 1.5rem;
        }
    }
}

footer {
    height: auto;
}