$text-color-on-dark-bg: #F0F7FF;
$background-color: #001A33;;


html {
    scroll-behavior: smooth;
    font-family: Helvetica, sans-serif;
    min-height: 100vh;
    background: $background-color;
    ul,
    li {
      margin-left: 0;
      padding-left: 0;
      list-style-type: none;
    }
    hr {
      margin: 0em;
      border-width: 0px;
    }
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    color: $text-color-on-dark-bg;
    text-decoration: none;

    &:visited {
        text-decoration: none;
    }
    &.link--uppercase {
        text-transform: uppercase;
    }
}

header {
    display: flex;
    padding: 1.5rem; 

    .block--left {
        flex: 1 0 0;
    }

    .block--right {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex: 1 0 0;

        .menu {
            display: flex;
            justify-content: flex-start;
            gap: 1.5rem;
        }

        .info {
            display: flex;
            justify-content: flex-end;
            gap: 1.5rem;
        }
    }
}